body {
    font-family: 'Roboto', sans-serif;
}

.header, .section1, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}


.header, .footer, .section1, .section2, .section3 {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    justify-content: space-between;
    font-size: 24px;
}

/* .header, .footer{
    padding-inline: ;
} */

.header ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

.header a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.section1, .section2, .section3 {
    /* flex-direction: column; */
    align-items: center;
    height: 350px;
}

.section1 {
    flex-wrap: wrap;
    justify-content: space-between
}

.section1 div {
    width: 40%;
}

.section1 h1 {
    font-size: 48px;
    margin: 0;
}

.section1 p {
    font-size: 18px;
    margin: 10px 0px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
}

.section1 img {
    width: 100%;
    height: 200px;
}

.beans img {
    width: 150px;
    height: 150px;
    border: #3882F6;
    border-radius: 12px;
}

.section2 {
   flex-direction: column; 
}

.section2 p {
    width: 160px;
    font-size: 14px;
    color: #9e9e9e;
    text-align: center;
}
.beans {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}








