body {
    font-family: 'Roboto', sans-serif;
}

.header, .section1, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}


.header, .footer, .section1, .section2, .section3 {
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.header {
    justify-content: space-between;
    font-size: 24px;
}

.header, .footer{
    padding-inline: ;
}
.header ul {
    display: flex;
    list-style: none;
}

li {
    margin-left: 20px;
}

.header a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.section1, .section2, .section3 {
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.section1 {
    flex-wrap: wrap;
    align-items: flex-start;
}

.section1 * {
    flex: 0 0 auto
    /* flex-basis: auto; */
}

.section1 img {
    width: 300px;
    height: 150px;
}

.beans img {
    width: 150px;
    height: 150px;
}








